/* Navbar.module.css */

.navbar {
    height: 70px;
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #52a7bc;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
  }
  
  .nav_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav_links li {
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s;
  }
  
  .nav_links li:hover {
    color: #cfcfcf;
  }
  
  .user_menu {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .user_icon {
    font-size: 22px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .dropdown_content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
  }
  
  .dropdown_content a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .dropdown_content a:hover {
    background-color: #52a7bc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .favourited {
    color: #ff6347;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav_links {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .nav_links li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
  